<div class="row">
    <div class="col-12">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <div class="row" style="height: 60px;">
                    <div class="col-8">
                        <h5 class="card-title">{{data.title}}</h5>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-outline-danger" (click)="deleteNote(data._id)">Delete</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h6 class="card-subtitle mb-2 text-muted">By {{data.user.name}} - {{data.date}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="card-text">{{data.content}}.</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12" style="text-align: center;">
                        <button type="button" class="btn btn-outline-primary" (click)="onClick(data._id)">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pasar el id en un emit -->